[Unit]
Description=Terawork Chat Service Daemon
After=network.target
After=network-online.target

[Service]
User=root
Type=forking
ExecStart=/usr/local/bin/chat-terawork.sh
ExecStop=/usr/local/bin/kill-chat-terawork.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target